{% extends "base.html" %}

{% load static %}
{% block title %}
Our Story
{% endblock %}
{% block header %}
{% include 'includes/nav-background.html' %}
{% endblock %}
{% block main_content %}
<!-- hero section -->
<div class="container-fluid ">
    <div class="row hero-container">
        <div class="col our-story-hero-col flex-center">
            <h1 class="text-shadow">Our Story</h1>
        </div>
    </div>
</div>
<!-- about section -->
<div class="container">
    <div class="row">
        <div class="col story-about-col">
            <p>I have always enjoyed taking photos but taking quality images does require good equipment,
                so over the years I have built up my camara inventory and i thought abour who else would need this and maybe someone else has something I would need I created in focus.
                From there have shared not only equipment but met such amazing artist and photographers share with the world.
            </p>
        </div>
    </div>
</div>
<!-- design section -->
<div class="container-fluid">
    <div class="row animation-element">
        <div class="col-12 col-md-6 our-story-col flex-center ">
            <h2>Our Project design</h2>
            <p>Choosing camaras and equiment can be expensive but it should not be in order to create memorable moments that is why we have created in-focus to help everyone reach the creative goals and share it with the world </p>
        </div>
        <div class="col-12 our-story-col flex-center  col-md-6">
            <img src="{{ MEDIA_URL }}hero.jpg" alt="Image of our camara">
        </div>
    </div>
</div>
<!-- sustanibility section -->
<!-- for smaller screen sizes -->
<div class="container-fluid d-md-none">
    <div class="row animation-element">
        <div class="col-12 col-md-6 our-story-col flex-center">
            <h2>Sustainability</h2>
            <p>We plan on bringing the biggest platform to camara sharing on the web and we can only do so with your help, So We want people to focus on sharing and not just having , I always wanted more chances to use diffrent cameras and tools</p>
        </div>
        <div class="col-12 our-story-col flex-center  col-md-6">
            <img src="{{ MEDIA_URL }}blog.jpg" alt="Image of our designer furniture">
        </div>
    </div>
</div>
<!-- for bigger screen sizes -->
<div class="container-fluid d-none d-md-block">
    <div class="row animation-element">
        <div class="col-12 our-story-col flex-center  col-md-6">
            <img src="{{ MEDIA_URL }}blog1.jpg" alt="Image of our designer furniture">
        </div>
        <div class="col-12 col-md-6 our-story-col flex-center">
            <h2>Sustainability</h2>
            <p>We plan on bringing the biggest platform to camara sharing on the web and we can only do so with your help, So We want people to focus on sharing and not just having</p>
        </div>
    </div>
</div>
<!-- Our promise Section -->
<div class="container-fluid">
    <div class="row animation-element">
        <div class="col-12 col-md-6 our-story-col flex-center">
            <h2>Our Promise</h2>
            <p>At Abode.com we promise to provide excellent design and quality delivered to you as quickly as possible.
            </p>
        </div>
        <div class="col-12 our-story-col flex-center  col-md-6">
            <img src="{{ MEDIA_URL }}hero6.jpg" alt="Image of our designer furniture">
        </div>
    </div>
</div>
<!-- shop now button -->
<div class="container">
    <div class="row animation-element">
        <div class="col flex-center our-story-shop-now">
            <a href="{% url 'all_items' %}" class="link-button link-button-dark flex-center">Shop Collection</a>
        </div>
    </div>
</div>
{% endblock %}